<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target name="log-stderr" xsi:type="Console" error="true" />
        <!--
        <target name="log-file" xsi:type="File" fileName="app.log" />
        <target name="log-stdout" xsi:type="Console" />
        -->
        <!--
        <target name="log-stderr" xsi:type="Console" error="true">
            <layout xsi:type="JsonLayout">
                <attribute name="Level" layout="${level}" />
                <attribute name="Timestamp" layout="${longdate}" />
                <attribute name="Message" layout="${message}" />
                <attribute name="Exception" layout="${exception}" />
            </layout>
        </target>
        -->
    </targets>
    <rules>
        <logger name="AppDefaultLogger" minlevel="Debug" writeTo="log-stderr" />
    </rules>
</nlog>
